<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

    <property name="hibernate.dialect">
        org.hibernate.dialect.MySQL5Dialect
    </property>

    <property name="hibernate.connection.driver_class">
        com.mysql.cj.jdbc.Driver
    </property>

    <property name="hibernate.connection.url">
        jdbc:mysql://192.168.43.77:3306/first_lesson?serverTimezone=UTC
    </property>

    <property name="hibernate.connection.username">
        admin
    </property>

    <property name="hibernate.connection.password">
        admin
    </property>

    <property name="connection.pool_size">
        1
    </property>

    <!--<property name="cache.provider_class">org.hibernate.cache.NoCacheRegionFactoryAvailableException</property>-->
    <property name="hbm2ddl.auto">
        update
    </property>

    <property name="show_sql">
        true
    </property>

        <mapping class="words.Word"/>

        <mapping class="words.primary.Adjective"/>
        <mapping class="words.primary.Adverb"/>
        <mapping class="words.primary.Participle"/>
        <mapping class="words.primary.Numeral"/>
        <mapping class="words.primary.Noun"/>
        <mapping class="words.primary.Verb"/>
        <mapping class="words.primary.ExtraParticiple"/>

        <mapping class="words.secondary.Particle"/>
        <mapping class="words.secondary.Interjection"/>
        <mapping class="words.secondary.Conjunction"/>
        <mapping class="words.secondary.Predicate"/>
        <mapping class="words.secondary.Pretext"/>
        <mapping class="words.secondary.Parenthesis"/>
        <mapping class="words.secondary.Pronoun"/>
        <mapping class="words.secondary.PronNoun"/>
        <mapping class="words.secondary.PronAdj"/>
        <mapping class="words.secondary.PronAdv"/>

<!--    <mapping resource="word.hbm.xml"/>-->
    <!--<mapping class="com.itvdn.hibernate_first.Flower" />-->
</session-factory>

</hibernate-configuration>